.background {
    height: 100vh;
    /*background: url('http://th04.deviantart.net/fs70/PRE/f/2012/223/c/8/tf2_scout_minimalist_wallpaper_by_bohitargep-d5aoh8c.jpg') no-repeat center bottom fixed; */
        background: url('http://unrealitymag.bcmediagroup.netdna-cdn.com/wp-content/uploads/2011/12/video-game-wallpaper14.jpg') no-repeat center bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    display: table;
}

.vcenter {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.warning-message {
    background:rgba(255,255,255, 0.7);
    padding: 75px 0px;
}

.btn {
    margin-top: 25px;
}