.navbar {
    margin-bottom: 0;
}

.background {
    height: 90vh;
}

.container {
    color: white;
    width: 50%;
}

.contact-form {
    color: black;
    width: 100%;
    margin-top: 5%;
    background-color: rgba(256, 256, 256, 0.9);
    padding: 10px;
    border-radius: 3px;
}
