.background, .container {
  margin: 0;
}

.navbar {
  margin-bottom: 0;
}

.background {
  height: 90vh;
}

.search-form {
  margin: 0 auto;
  padding-top: 100px;
}

.search-button {
  color: black;
  background-color: white;
  border: none;
}
