.nav-top {
    margin-bottom: -20px;
}

.background {
    height: 90vh;
}

.home-banner {
    position: relative;
    top: 100px;
}

.banner-text {
  color: white;
  font-family: 'Play';
}

.btn-group {
  margin: 0 auto;
  top: 40%;
  width: 25%;
}

.btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5em;
}

.btn:hover {
  background-color: transparent;
}
