.navbar {
    margin-bottom: 0;
}

.background {
    height: 90vh;
    background: url("http://res.cloudinary.com/charliecloud/image/upload/v1440728912/SteamScout/login.jpg") grey no-repeat center center fixed;
    background-size: cover;
}

#login {
    color: black;
    padding-top: 5%;
}

.login-form {
    background-color: rgba(256, 256, 256, 0.9);
    padding: 10px;
    border-radius: 10px;
    margin-top: 15%;
}
