.navbar {
    margin-bottom: 0;
}

.background {
    height: 90vh;
    background: rgb(247,247,247); /* Old browsers */
    background: url(http://i.imgur.com/mHzCL64.png) no-repeat bottom right, -moz-linear-gradient(top, rgba(247,247,247,1) 1%, rgba(237,237,237,1) 6%, rgba(63,63,63,1) 64%, rgba(30,30,30,1) 81%, rgba(0,0,0,1) 97%, rgba(0,0,0,1) 100%) no-repeat; /* FF3.6+ */
    background: url(http://i.imgur.com/mHzCL64.png) no-repeat bottom right, -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(6%,rgba(237,237,237,1)), color-stop(64%,rgba(63,63,63,1)), color-stop(81%,rgba(30,30,30,1)), color-stop(97%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))) no-repeat; /* Chrome,Safari4+ */
    background: url(http://i.imgur.com/mHzCL64.png) no-repeat bottom right, -webkit-linear-gradient(top, rgba(247,247,247,1) 1%,rgba(237,237,237,1) 6%,rgba(63,63,63,1) 64%,rgba(30,30,30,1) 81%,rgba(0,0,0,1) 97%,rgba(0,0,0,1) 100%) no-repeat; /* Chrome10+,Safari5.1+ */
    background: url(http://i.imgur.com/mHzCL64.png) no-repeat bottom right, -o-linear-gradient(top, rgba(247,247,247,1) 1%,rgba(237,237,237,1) 6%,rgba(63,63,63,1) 64%,rgba(30,30,30,1) 81%,rgba(0,0,0,1) 97%,rgba(0,0,0,1) 100%) no-repeat; /* Opera 11.10+ */
    background: url(http://i.imgur.com/mHzCL64.png) no-repeat bottom right, -ms-linear-gradient(top, rgba(247,247,247,1) 1%,rgba(237,237,237,1) 6%,rgba(63,63,63,1) 64%,rgba(30,30,30,1) 81%,rgba(0,0,0,1) 97%,rgba(0,0,0,1) 100%) no-repeat; /* IE10+ */
    background: url(http://i.imgur.com/mHzCL64.png) no-repeat bottom right, linear-gradient(to bottom, rgba(247,247,247,1) 1%,rgba(237,237,237,1) 6%,rgba(63,63,63,1) 64%,rgba(30,30,30,1) 81%,rgba(0,0,0,1) 97%,rgba(0,0,0,1) 100%) no-repeat; /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    -webkit-background-size: 22%, cover;
    -moz-background-size: 22%, cover;
    -o-background-size: 22%, cover;
    background-size: 20%, cover; 
}


#login {
    color: black;
    padding-top: 5%;
}

.login-form {
    background-color: rgba(256, 256, 256, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-top: 15%;
}

/*
.navbar {
    margin-bottom: 0;
}


.background {
    position: relative;
    height: 90vh;
    background: url('http://www.hdwallpapers.in/walls/street_fighter_v-HD.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

