.navbar {
    margin-bottom: 0;
}

.background {
    height: 90vh;
    background: url('http://www.hdwallpapers.in/walls/street_fighter_v-HD.jpg') no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login {
    color: white;
}