{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{% endblock title %} | SteamScout</title>

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">-->
    <!--A custom css file in static that you can use to change default bootstrap features-->
    <!--<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='custom.css') }}">-->
    {%- endblock styles %}
    {% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='404_error.css') }}">
    {% endblock extra_styles %}
    {%- endblock head %}
  </head>
  
  <body>
    {% block body -%}
    <div class="background">
      <div class="container vcenter">
        <div class="text-center warning-message">
          <h1>ERROR 404: Page Not Found</h1>
          <a href="javascript:history.back()" class="btn btn-lg btn-danger">Go Back to the Previous Page</a>
        </div>
      </div>
    </div>
    {% block scripts %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {%- endblock scripts %}
    {% block extra_scripts %}
    {% endblock extra_scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}