{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='scouticon.png') }}" />
    <title>{% block title %}{% endblock title %} | SteamScout</title>
    {%- block styles %}
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">-->
    <!--A custom css file in static that you can use to change default bootstrap features-->
    <!--<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='custom.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    {%- endblock styles %}
    
    {% block extra_styles %}

    {% endblock extra_styles %}
    
    {%- endblock head %}
  </head>
  
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    
    <body class = "body">
    <div class="navbar navbar-default nav-top" role="navigation">
      <div class="container-fluid">
        
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="logo" src="{{ url_for('static', filename='steamscout.png') }}">
            <p id="nav_title">SteamScout</p>
          </a>
        </div>        

                  
          <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated() %}
            <li><a href="/settings">{{ current_user.username }}</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/logout">Log out</a></li>
          {% else %}
            <li><a href="/games">Game Library</a></li>
            <li><a href="/login">Log In</a></li>
          {% endif %}
          </ul>
        </div>
    </div>
    <!--Flash-->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="text-center alert-dismissable alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4>{{ message }}</h4>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!--End Flash-->
    {% block content -%}
    <!--This is where each page will go-->
    {%- endblock content %}

    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/developers">Developers</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    {%- endblock navbar %}
    


    {%- endblock body %}
  </body>
  {% block scripts %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  {%- endblock scripts %}
  {% block extra_scripts %}
  <!--EXTRA JS HERE-->
  {% endblock extra_scripts %}
{%- endblock html %}
</html>
{% endblock doc -%}