{% extends 'base.html' %}
{% block title %}{{ game_title }}{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="jumbotron" style="background: url('{{ header_image }}') no-repeat center center;">
	</div>
	<div class="well col-md-6 col-md-offset-3 text-center">
		{% if initial_price %}

			<h1> {{ game_title }} </h1>
			<p>Game ID: {{ id_num }}</p>
			<p>Current Price: {{ current_price }}</p>
			<p>Discount Percent: {{ discount }}%</p>
			<p>Retail Price: {{ initial_price }}</p>
			
			{% if current_user.is_authenticated() %}
			<!--Moved percent threshold form to parts/percent_threshold.html-->
				<h3>Set a Scout </h3>
				<p>The scout will alert you when this game reaches this price:</p>
				<form action="" method="post">
					{{ amount_form.hidden_tag() }}
					
					<div class="form-group {% if amount_form.threshold_amount.errors %} has-error {% endif %}">
					{{ amount_form.threshold_amount(placeholder="19.99", class="form-control input-lg text-center") }}<br>
					<p class="help-block">{{ amount_form.threshold_amount.errors[0] }}</p>
					</div>
					{% if preference %}
					<button type="submit" class="btn form-control btn-success">Update</button><br>
					<p><b>Current Scout price:</b> <span style="color: green;">{{ preference.threshold_amount }} </span></p>
					{% else %}
					<button type="submit" class="btn form-control btn-success">Submit</button>
					{% endif %}
				</form>
			{% else %}
			<p><a href="{{ url_for('login')}}">Login</a> to monitor this game!</p>
			{% endif %}
		{% else %}
		<p>Sorry. The item you've selected is either not a game at all, a demo, or
		never had a price to begin with!<br>
		Try picking another <a href="{{ url_for('games') }}">game!</a>
		</p>
		{% endif %}		
	</div>
</div>

{% endblock %}