{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='games_search.css') }}">
{% endblock %}

{% block content %}
<div class="background">
<div class='container search-results'>
  {% if game_search_form.errors %}   <!-- shows us whatever errors are happening -->
    <div class="row">
      <div class="alert alert-danger" role="alert">{{game_search_form.errors}}</div>
    </div>
  {% endif %}
  <div class='row'>
    <div class="col-md-6 col-md-offset-3 search-bar">
      <form action="{{ url_for('games') }}" method="POST">
        {{ game_search_form.hidden_tag() }}
        <div class="form-group {% if game_search_form.search_term.errors %} has-error {% endif %}">
           {{ game_search_form.search_term(placeholder="Search for a game", class="form-control input-lg") }} 
           <p class="help-block">{{ game_search_form.search_term.errors[0] }}</p>
        </div>
        <button type="submit" class="btn form-control btn-success">Search!</button>
      </form>
      
     <center> <u><h1>Search Results</h1></u>  
      {% if found_count == 0 %}
        <h1>No games were found!</h1>
      {% else %}
        <p>Your search returned {{ found_count }} result(s)</p> </center>
            <ul class="list-group">
              {% for game_found in games_found %}
                <li class="list-group-item">
                  <h3><a href="/games/{{ game_found.game_name }}">{{ game_found.game_name }}</a></h3>
                </li>
              {% endfor %}
   <!--         </ul>
            <div class="panel panel-default">
          {% for game_found in games_found %}
              <div class="panel-heading">
                <h3 class="panel-title"><a href="/games/{{ game_found.game_name }}">{{ game_found.game_name }}</a></h3>
              </div>
              <div class="panel-body">
                <p>Game ID: {{ game_found.game_id }}</p>
              </div>
            {% endfor %}
            </div> -->
      {% endif %}
    </div>
  </div>
<!--Temporarily moved it all to parts/all_games.html to speed up the page until pagination is made.-->
</div>
</div>
{% endblock %}