{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block extra_styles %}
<!--can add details later in the css file-->
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
{% endblock extra_styles %}

{% block content %}
<div class='background'>
<div class='container'>

  <div class='row text-center'>
    <div class="col-md-6 col-md-offset-3">

      <form class="signup-form" action="{{ url_for('signup') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
            <h4>{{ form.username.label }}</h4>
            {{ form.username(placeholder="Steam Scouter", class="form-control input-lg text-center")}}

            <p class="help-block">{{ form.username.errors[0] }}</p>

          </div>

           <div class="form-group {% if form.email.errors %} has-error {% endif %}">
              <h4>{{ form.email.label }}</h4>
              {{ form.email(placeholder="Example@example.com", class="form-control input-lg text-center") }}
              <p class="help-block">{{ form.email.errors[0] }}</p>

            </div>

          <div class="form-group {% if form.password.errors %} has-error {% endif %}">
            <h4>{{ form.password.label }}</h4>
            {{ form.password(placeholder="Password", class="form-control input-lg text-center") }}
            <p class="help-block">{{ form.password.errors[0] }}</p>

          </div>

          <div class="form-group {% if form.confirm.errors %} has-error {% endif %}">
            <h4>{{ form.confirm.label }}</h4>
            {{ form.confirm(placeholder="Password Confirmation", class="form-control input-lg text-center") }}
            <p class="help-block">{{ form.confirm.errors[0] }}</p>

          </div>

        <!--<div class="input-group input-group-lg">-->
          <button type="submit" class="btn form-control btn-success">Submit</button>
        <!--</div>-->

      </form>

    </div> <!-- end of col-md-6 col-md-offset-3 -->
  </div> <!-- end of row -->
</div> <!--end of container -->
</div>
{% endblock content %}
