{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css') }}">
{% endblock %}

{% block content %}
<div class='container'>
	<div class='panel panel-primary'>
		<div class='panel-body'>
			<div class='row'>
				<div class="col-md-6">
					<h1>Users</h1>
					{% for user in users %}
						<p>
						user id: {{user.id}}<br>
						user: {{ user.username }}<br>
						email: {{ user.email }}<br>
						password: {{user.password}}<br>
						confirmed: {{user.validated}}<br>
						confirmed on: {{user.validated_on}}
						</p>
					{% endfor %}
				</div>
				
				<div class="col-md-6">
					<h1>Preferences</h1>
					{% for preference in preferences %} 
					<p>
					user id: {{ preference.user_id }}
					Game: {{ preference.game_name }}
					Threshold: {{ preference.threshold_amount }}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}